
    <ul class="planets-grid">
      <li *ngFor="let planet of planetsStore.planets()">
        <app-planet-card [planet]="planet"></app-planet-card>
      </li>
    </ul>

    <div 
      appInfinityScroll
      (scrolledToEnd)="loadMorePlanets()"
      [isLoading]="planetsStore.isLoading()"
      [rootMargin]="'100px'">
    </div>

    <!-- Indicador de carga -->
    <div *ngIf="planetsStore.isLoading()" class="loading-indicator">
      <p>Cargando más planetas...</p>
    </div>
  <!-- </div> -->

  <!-- Mensaje final si no hay más páginas -->
  <div *ngIf="planetsStore.isLastPage()">
    <p>Has llegado al final de la galaxia.</p>
  </div>

    